@import "./base/reset";

* {
    box-sizing: border-box;
    font-family: Volkhov, "Volkhov", Helvetica, Arial, "微軟正黑體",
        "PingFang SC", sans-serif;
}

html {
    font-size: 16px;
}

button {
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;
}

button,
button:focus,
button:active {
    outline: none;
}

.app {
    display: flex;
    width: 100vw;
    height: 100vh;
    min-width: 1280px;
    min-height: 800px;
}

.main {
    flex: 13;
    background-color: #29662e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    flex: 3 0 170px;
    background-color: #225226;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.game {
    width: 1110px;
    height: 100%;
    padding: 30px;
}

.game-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.game-header-block {
    flex: 1;
    display: flex;
}

.home-cell-block {
    justify-content: flex-end;
}

.game-body {
    display: flex;
}

.column {
    position: relative;
}

.card-slot {
    width: 105px;
    height: 135px;
    border-radius: 12px;
    background-color: #225226;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.game-header .card-slot:not(:last-child) {
    margin-right: 10px;
}

.game-body .card-slot:not(:last-child) {
    margin-right: 30px;
}

.logo {
    background-color: #fff6e6;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text {
    color: #fff6e6;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-info {
    color: #ccc2ad;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
}

.game-info-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button {
    border: 2px solid #ccc2ad;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #ccc2ad;
    padding: 8px 10px;
    width: 100%;
}

.sidebar .button:not(:last-child) {
    margin-bottom: 10px;
}

$card-gap: 45px;

.card {
    width: 105px;
    height: 135px;
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff6e6;
    border: 1px solid #ccc2ad;
    display: flex;
    flex-direction: column;
    user-select: none;
}

@for $i from 1 through 13 {
    .card:nth-child(#{$i}) {
        top: ($i - 1) * $card-gap;
    }
}

.card:last-child {
    cursor: grab;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px 10px 0;
    pointer-events: none;
}

.card-number {
    font-weight: bold;
    font-size: 28px;
    line-height: 24px;
}

.blue .card-number {
    color: #263238;
}

.card-suit {
    display: block;
    width: 27px;
    height: 27px;
}

.card-body {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}
